div
    div.search-container
        vue-autosuggest(:suggestions="filteredOptions" @focus="focusMe"  @click="clickHandler" :on-selected="onSelected"  :render-suggestion="renderSuggestion" :get-suggestion-value="getSuggestionValue" :input-props="{id:'autosuggest__input', onInputChange: this.onInputChange, placeholder:'Do you feel lucky, punk?'}")

                       
                

   

